In [ ]:
var1="Variable1"

In [ ]:
var2=128

In [ ]:
## start
# 1
## 2
### 3
#### 4

In [ ]:
var3=12.56

In [ ]:
var4 = ["text1", 128, 34.09, "text3"]

In [ ]:
print(var4[-3])

128

In [ ]:
dic = {"Key1":"value1", "Key2":"value2"}

In [ ]:
      dic = {"Nombre":"Julian",
      "Apellido":"Ramirez",
      "Edad":42,
      "Altura":1.75}

In [ ]:
dic_data = {"Nombre":"Julian Alberto", "Apellido":"Ramirez Caicedo", "Semestre":"8vo", "Carrera":"Ingenieria de sistemas", "Ciudad":"Cali", "Pais":"Colombia",}

In [ ]:
print(dic_data)

{'Nombre': 'Julian Alberto', 'Apellido': 'Ramirez Caicedo', 'Semestre': '8vo', 'Carrera': 'Ingenieria de sistemas', 'Ciudad': 'Cali', 'Pais': 'Colombia'}

In [ ]:
dic.keys()

dict_keys(['Nombre', 'Apellido', 'Edad', 'Altura'])

In [ ]:
dic.values()

dict_values(['Julian', 'Ramirez', 42, 1.75])

In [ ]:
dic_Uni = {"Nombre":"Julian Alberto",
            "Apellido":"Ramirez Caicedo",
            "Semestre":"8vo",
            "Materia":"Desarollo de software",
            "Carrera":"Ingenieria de sistemas",
            "Universidad":"Unicuces"
            }
print(dic_Uni)
dic_Uni.values()

{'Nombre': 'Julian Alberto', 'Apellido': 'Ramirez Caicedo', 'Semestre': '8vo', 'Materia': 'Desarollo de software', 'Carrera': 'Ingenieria de sistemas', 'Universidad': 'Unicuces'}

dict_values(['Julian Alberto', 'Ramirez Caicedo', '8vo', 'Desarollo de software', 'Ingenieria de sistemas', 'Unicuces'])

In [ ]:
nom = ['J', 'u', 'l', 'i', 'a', 'n']
for i in range(len(nom)):
  print (nom[-i-1])

n
a
i
l
u
J

In [ ]:
for i in range(5):
  for j in range(5):
    for k in range(5):
      print (i,j,k)

0 0 0
0 0 1
0 0 2
0 0 3
0 0 4
0 1 0
0 1 1
0 1 2
0 1 3
0 1 4
0 2 0
0 2 1
0 2 2
0 2 3
0 2 4
0 3 0
0 3 1
0 3 2
0 3 3
0 3 4
0 4 0
0 4 1
0 4 2
0 4 3
0 4 4
1 0 0
1 0 1
1 0 2
1 0 3
1 0 4
1 1 0
1 1 1
1 1 2
1 1 3
1 1 4
1 2 0
1 2 1
1 2 2
1 2 3
1 2 4
1 3 0
1 3 1
1 3 2
1 3 3
1 3 4
1 4 0
1 4 1
1 4 2
1 4 3
1 4 4
2 0 0
2 0 1
2 0 2
2 0 3
2 0 4
2 1 0
2 1 1
2 1 2
2 1 3
2 1 4
2 2 0
2 2 1
2 2 2
2 2 3
2 2 4
2 3 0
2 3 1
2 3 2
2 3 3
2 3 4
2 4 0
2 4 1
2 4 2
2 4 3
2 4 4
3 0 0
3 0 1
3 0 2
3 0 3
3 0 4
3 1 0
3 1 1
3 1 2
3 1 3
3 1 4
3 2 0
3 2 1
3 2 2
3 2 3
3 2 4
3 3 0
3 3 1
3 3 2
3 3 3
3 3 4
3 4 0
3 4 1
3 4 2
3 4 3
3 4 4
4 0 0
4 0 1
4 0 2
4 0 3
4 0 4
4 1 0
4 1 1
4 1 2
4 1 3
4 1 4
4 2 0
4 2 1
4 2 2
4 2 3
4 2 4
4 3 0
4 3 1
4 3 2
4 3 3
4 3 4
4 4 0
4 4 1
4 4 2
4 4 3
4 4 4

In [ ]:
for i in range(5):
  print (-i)

0
-1
-2
-3
-4

In [ ]:
dic_user = {"Nombre":"","Apellido":"","Edad":0,"Institucion":""}

In [ ]:
var = input("Ingrese su nombre ")
print(var)

Ingrese su nombre Julian
Julian

In [ ]:
var = input("Ingrese su nombre ")
dic_user["Nombre"] = var
var = input("Ingrese su Apellido ")
dic_user["Apellido"] = var
var = input("Ingrese su Edad ")
dic_user["Edad"] = var
var = input("Ingrese Institución ")
dic_user["Institucion"] = var
print(dic_user)

Ingrese su nombre Julian
Ingrese su Apellido Ramirez
Ingrese su Edad 42
Ingrese Institución Unicuces
{'Nombre': 'Julian', 'Apellido': 'Ramirez', 'Edad': '42', 'Institucion': 'Unicuces'}

In [ ]:
dic_user = {"Nombre":"","Apellido":"","Edad":0,"Institución":""}

def llenar_dic_user():
  dic_user_c = dic_user.copy()

  var = input("Ingrese su nombre ")
  dic_user_c["Nombre"] = var
  var = input("Ingrese su Apellido ")
  dic_user_c["Apellido"] = var
  var = input("Ingrese su Edad ")
  dic_user_c["Edad"] = var
  var = input("Ingrese Institución ")
  dic_user_c["Institucion"] = var
  return dic_user_c

In [ ]:
dic_return = llenar_dic_user()
print(dic_return)

Ingrese su nombre Julian
Ingrese su Apellido Ramirez
Ingrese su Edad 42
Ingrese Institución Unicuces
{'Nombre': 'Julian', 'Apellido': 'Ramirez', 'Edad': '42', 'Institución': '', 'Institucion': 'Unicuces'}

In [ ]:
from re import U
user = []
for i in range(3):
  result = llenar_dic_user()
  user.extend([result])
print(user)

Ingrese su nombre Julian
Ingrese su Apellido Ramirez
Ingrese su Edad 42
Ingrese Institución Unicuces
Ingrese su nombre Gustavo
Ingrese su Apellido Mondragon
Ingrese su Edad 16
Ingrese Institución Univalle
Ingrese su nombre Anthony
Ingrese su Apellido Trejos
Ingrese su Edad 30
Ingrese Institución Unilibre
[{'Nombre': 'Julian', 'Apellido': 'Ramirez', 'Edad': '42', 'Institución': '', 'Institucion': 'Unicuces'}, {'Nombre': 'Gustavo', 'Apellido': 'Mondragon', 'Edad': '16', 'Institución': '', 'Institucion': 'Univalle'}, {'Nombre': 'Anthony', 'Apellido': 'Trejos', 'Edad': '30', 'Institución': '', 'Institucion': 'Unilibre'}]

In [ ]:
search = input("Ingrese el nombre a buscar ")
#searchA = input("Ingrese el Apellido a buscar ")
for i in range(len(user)):
  nombre = user[i]["Nombre"]
  apellido = user[i]["Apellido"]
  print(i)
  print(nombre)
  print(apellido)
  if search == nombre or search == apellido:
    print("Encontrado")
  else:
    print("No encontrado")

Ingrese el nombre a buscar Anthony
0
Julian
Ramirez
No encontrado
1
Anthony
Trejos
Encontrado
2
Gustavo
Mondragon
No encontrado

In [ ]:
search_nombre = input("Ingrese el nombre a buscar ")
search_apellido = input("Ingrese el Apellido a buscar ")
search_edad = input("Ingrese la edad a buscar ")
search_institucion = input("Ingrese la institucion a buscar ")
for i in range(len(user)):
  nombre = user[i]["Nombre"]
  apellido = user[i]["Apellido"]
  edad = user[i]["Edad"]
  institucion = user[i]["Institucion"]
  print(i)
  print(nombre)
  print(apellido)
  print(edad)
  print(institucion)
  if search_nombre == nombre and search_apellido == apellido and search_edad == edad and search_institucion == institucion:
    print("Encontrado")
  else:
    print("No encontrado")

Ingrese el nombre a buscar Julian
Ingrese el Apellido a buscar Ramirez
Ingrese la edad a buscar 25
Ingrese la institucion a buscar Unicuces
0
Julian
Ramirez
25
Unicuces
Encontrado
1
Anthony
Gomez
22
Libre
No encontrado
2
Gustavo
Mondragon
21
Valle
No encontrado

In [ ]:
search_nombre = input("Ingrese el nombre a buscar ")
search_apellido = input("Ingrese el Apellido a buscar ")
#search_edad = input("Ingrese la edad a buscar ")
#search_institucion = input("Ingrese la institucion a buscar ")
Flag = False
for i in range(len(user)):
  nombre = user[i]["Nombre"]
  apellido = user[i]["Apellido"]
  edad = int(user[i]["Edad"])
  institucion = user[i]["Institucion"]
  if search_nombre == nombre and search_apellido == apellido and edad > 24: #and search_edad == edad and search_institucion == institucion and edad > 24:
    print(" ")
    Flag = True
    print(i)
    print(nombre)
    print(apellido)
    print(edad)
    print(institucion)
if Flag == True:
    print(nombre, apellido, edad, institucion)
else:
  print("No encontrado o es menor de 18")

Ingrese el nombre a buscar Julian
Ingrese el Apellido a buscar Ramirez

0
Julian
Ramirez
42
Unicuces
Anthony Trejos 30 Unilibre

In [ ]:
search_nombre = input("Ingrese el nombre a buscar ")

for i in range(len(user)):
  nombre = user[i]["Nombre"]
  apellido = user[i]["Apellido"]
  edad = int(user[i]["Edad"])
  institucion = user[i]["Institucion"]

  if search_nombre == nombre and edad > 24:
    print(" ")
    print(nombre, apellido, edad, institucion)
    break
 #   print("Encontrado")
    else:
      print("Menor de 25 años")
#      print("No encontrado")

Ingrese el nombre a buscar Julian

Julian Ramirez 42 Unicuces
Encontrado
Menor de 25 años
Menor de 25 años